<button type="button" class="btn btn-primary go-to-btn" (click)="goToProductTable()">Go to product table</button>
<div class="price-wrapper">
<h1>{{title}}</h1>
<hr>
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Number of Units</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productTableData">
        <th scope="row">{{product.numberOfUnits}}</th>
        <td>$ {{product.totalPrice}}</td>
      </tr>
    </tbody>
  </table>
</div>