.quantity-text {
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    width: 46px;
    padding: 0 5px;
    text-align: center;
    background: white;
  }
  
  
  .inline {
    display: inline-flex;
  }
  
  input {
    height: 30px !important;
  }
  
  .btn {
    height: 30px !important;
    border: 1px solid #cccccc;
  }