<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light navbar-fixed-top mx-auto">
    <a class="navbar-brand">Price Calculator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
      aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="mainNavbar">
  
      <ul class="navbar-nav ml-auto">

        <li class="nav-item" style="margin: 10px;" >
            <a routerLink="/productTable" routerLinkActive="active"> Product List </a>
          </li>
          <li class="nav-item" style="margin: 10px;">
            <a routerLink="/order" routerLinkActive="active"> Order Items </a>
          </li>
  
  
      </ul>
    </div>
  </nav>